* {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

html, body {
	background: #666;
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	background-color: #666;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

p.text {
	color: #fff;
	font-size: 100px;
	text-align: center;
}

div {
	color: #fff;
}

.step {
	text-align: center;
}

.step input {
	margin-left: 20px;
	margin-top: 50px;
}

.frame {
	box-sizing: border-box;
	outline: 10px solid #222;
	border-top: 20px solid #222;
	border-bottom: 20px solid #222;
	width: 10%;
	height: 250px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: -100px;
}