* {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

html, body {
	background: #555;
	margin: 0;
	padding: 0;
	height: 100%;
}

p.text {
	color: #fff;
	font-size: 100px;
	text-align: center;
}

div {
	color: #fff;
}

.step {
	text-align: center;
}

.step input {
	margin-left: 20px;
}

.wrapper {
	background-color: #555;
	width: 960px;
	margin: 0 auto;
}